body{
    background-color: rgb(0, 162, 255);
}


.l_calculator{
    position: relative;
    top: 100px;
    left: 600px;
    background-color: white;
    height: 500px;
    width: 400px;
    background-color: cornsilk;
}

.l_calc{
    padding: 100px;
}

.butt{
    padding-bottom: 20px;
}

button{
    background-color: crimson;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 4px;
}

button:hover{
    box-shadow: 5px 10px 18px rgb(0, 162, 255) ;
}

#loan{
    padding: 5px;
    text-align: center;
    border:1px solid blue;
    background-color: white;
    width: 150px;
    height:30px;
}